@import "tailwindcss";

 @theme {
   --color-primary: #0f0b08;
   --color-textcolor: #efbf04;
   --color-subtext: #c6ac8f;
   --color-ternary: #6d4c26;
   --color-statusbars: #432818;
 }

 /* Hide scrollbar for the whole page */
 html, body {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }
 html::-webkit-scrollbar, body::-webkit-scrollbar {
   display: none;  /* Chrome, Safari and Opera */
 }

